.jimu-widget-HolaMundo{
  color:red;
}

.jimu-widget-HolaMundo h2{
  color:blue;
}

.jimu-widget-HolaMundo h1{
  color:green;
}

.jimu-widget-HolaMundo .elemento{
  font-weight: bold;
}

.jimu-widget-HolaMundo #seleccionado{
  font-size: : 50px;
}
